<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, width=device-width, height=device-height, viewport-fit=cover">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui-core.min.css">
<link rel="stylesheet" title="Darkness" href="https://unpkg.com/onsenui/css/dark-onsen-css-components.min.css">
<link rel="stylesheet" disabled title="Sunshine" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
<script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
<link rel="stylesheet" href="app.min.css">
{{#block "head"}}
<title>{{@local.pages.homepage}}</title>
<meta name="description" content="{{@local.description}}">
<script src="app.min.js"></script>
<script>
blitzee({
  urlRoot: '{{@local.url}}',
  analyticsEnabled: true,
  analyticsId: '{{@local.analyticsId}}',
  homePageIndex: 0,
  pageUrls: [{{#each @local.pages}}'{{@key}}', {{/each}}],
  pageTitles: [{{#each @local.pages}}'{{this}}', {{/each}}],
  formPostUrl: '{{@local.formTarget}}',
  pageScripts: {},
  debug: false
});
</script>
{{/block}}
</head>
<body class="darkness">

{{#block "body"}}
{{/block}}

<ons-modal direction="up" onDeviceBackButton="blitzee.closeModal()">
  <div style="text-align: center">
    <img src alt="Zoomed" />
  </div>
</ons-modal>

</body>
</html>